<!-- <div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        Creative Tim
    </a>
</div> -->

<!-- <div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link" href="#pablo">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                <a class="dropdown-item" href="#">Another Notification</a>
                <a class="dropdown-item" href="#">Another One</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#pablo">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div> -->
<div class="logo">
    <a class="simple-text logo-mini">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png">
        </div>
    </a>
    <a class="simple-text logo-normal" href="https://www.creative-tim.com"> Creative Tim 
    </a>
</div>
<div class="sidebar-wrapper ps ps--active-y">
    <div class="user">
        <div class="photo">
            <img src="/assets/img/faces/marc.jpg">
        </div>
        <div class="user-info">
            <a class="collapsed" data-toggle="collapse" href="#collapseExample">
                <span> Tania Andrew <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            <span class="sidebar-mini">MP</span>
                            <span class="sidebar-normal">My Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            <span class="sidebar-mini">EP</span>
                            <span class="sidebar-normal">Edit Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            <span class="sidebar-mini">S</span>
                            <span class="sidebar-normal">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="nav"><!---->
        <li class="nav-item active" routerlinkactive="active"><!---->
            <a class="nav-link" href="/material-dashboard-pro-angular2/dashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a><!---->
            <!---->
        </li>
        <li class="nav-item" routerlinkactive="active"><!---->
            <a class="nav-link" data-toggle="collapse" href="#components">
                <i class="material-icons">apps</i>
                <p>Components<b class="caret"></b>
                </p>
            </a><!---->
            <div class="collapse" id="components">
                <ul class="nav"><!---->
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/components/buttons">
                            <span class="sidebar-mini">B</span>
                            <span class="sidebar-normal">Buttons</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/components/grid">
                            <span class="sidebar-mini">GS</span>
                            <span class="sidebar-normal">Grid System</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/components/panels">
                            <span class="sidebar-mini">P</span>
                            <span class="sidebar-normal">Panels</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/components/sweet-alert">
                            <span class="sidebar-mini">SA</span>
                            <span class="sidebar-normal">Sweet Alert</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/components/notifications">
                            <span class="sidebar-mini">N</span>
                            <span class="sidebar-normal">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/components/icons">
                            <span class="sidebar-mini">I</span>
                            <span class="sidebar-normal">Icons</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/components/typography">
                            <span class="sidebar-mini">T</span>
                            <span class="sidebar-normal">Typography</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item" routerlinkactive="active"><!----><!---->
            <a class="nav-link" data-toggle="collapse" href="#forms">
                <i class="material-icons">content_paste</i>
                <p>Forms<b class="caret"></b>
                </p>
            </a><!---->
            <div class="collapse" id="forms">
                <ul class="nav"><!---->
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/forms/regular">
                            <span class="sidebar-mini">RF</span>
                            <span class="sidebar-normal">Regular Forms</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/forms/extended">
                            <span class="sidebar-mini">EF</span>
                            <span class="sidebar-normal">Extended Forms</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/forms/validation">
                            <span class="sidebar-mini">VF</span>
                            <span class="sidebar-normal">Validation Forms</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/forms/wizard">
                            <span class="sidebar-mini">W</span>
                            <span class="sidebar-normal">Wizard</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item" routerlinkactive="active"><!----><!---->
            <a class="nav-link" data-toggle="collapse" href="#tables">
                <i class="material-icons">grid_on</i>
                <p>Tables<b class="caret"></b>
                </p>
            </a><!---->
            <div class="collapse" id="tables">
                <ul class="nav"><!---->
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/tables/regular">
                            <span class="sidebar-mini">RT</span>
                            <span class="sidebar-normal">Regular Tables</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/tables/extended">
                            <span class="sidebar-mini">ET</span>
                            <span class="sidebar-normal">Extended Tables</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/tables/datatables.net">
                            <span class="sidebar-mini">DT</span>
                            <span class="sidebar-normal">Datatables.net</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item" routerlinkactive="active"><!----><!---->
            <a class="nav-link" data-toggle="collapse" href="#maps">
                <i class="material-icons">place</i>
                <p>Maps<b class="caret"></b>
                </p>
            </a><!---->
            <div class="collapse" id="maps">
                <ul class="nav"><!---->
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/maps/google">
                            <span class="sidebar-mini">GM</span>
                            <span class="sidebar-normal">Google Maps</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/maps/fullscreen">
                            <span class="sidebar-mini">FSM</span>
                            <span class="sidebar-normal">Full Screen Map</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/maps/vector">
                            <span class="sidebar-mini">VM</span>
                            <span class="sidebar-normal">Vector Map</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item" routerlinkactive="active"><!---->
            <a class="nav-link" href="/material-dashboard-pro-angular2/widgets">
                <i class="material-icons">widgets</i>
                <p>Widgets</p>
            </a><!----><!---->
        </li>
        <li class="nav-item" routerlinkactive="active"><!---->
            <a class="nav-link" href="/material-dashboard-pro-angular2/charts">
                <i class="material-icons">timeline</i>
                <p>Charts</p>
            </a><!----><!---->
        </li>
        <li class="nav-item" routerlinkactive="active"><!---->
            <a class="nav-link" href="/material-dashboard-pro-angular2/calendar">
                <i class="material-icons">date_range</i>
                <p>Calendar</p>
            </a><!----><!---->
        </li>
        <li class="nav-item" routerlinkactive="active"><!----><!---->
            <a class="nav-link" data-toggle="collapse" href="#pages">
                <i class="material-icons">image</i>
                <p>Pages<b class="caret"></b></p>
            </a><!---->
            <div class="collapse" id="pages">
                <ul class="nav"><!---->
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/pages/pricing">
                            <span class="sidebar-mini">P</span><span class="sidebar-normal">Pricing</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/pages/timeline">
                            <span class="sidebar-mini">TP</span>
                            <span class="sidebar-normal">Timeline Page</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/pages/login">
                            <span class="sidebar-mini">LP</span>
                            <span class="sidebar-normal">Login Page</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/pages/register">
                            <span class="sidebar-mini">RP</span>
                            <span class="sidebar-normal">Register Page</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/pages/lock">
                            <span class="sidebar-mini">LSP</span>
                            <span class="sidebar-normal">Lock Screen Page</span>
                        </a>
                    </li>
                    <li class="nav-item" routerlinkactive="active">
                        <a class="nav-link" href="/material-dashboard-pro-angular2/pages/user">
                            <span class="sidebar-mini">UP</span>
                            <span class="sidebar-normal">User Page</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item" routerlinkactive="active"><!---->
            <a class="nav-link" href="/groupuser-list">
                <i class="material-icons">person</i><p>Groupuser</p>
            </a><!----><!---->
        </li>
    </ul>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
        </div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 0px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
        </div>
    </div>
    <div class="ps__rail-y" style="top: 0px; height: 551px; right: 0px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 453px;">
        </div>
    </div>
</div>
